/* Default styles for larger screens */
*{
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100%;
    width: 100%;
        background-image: url('/assets/AchivementPageBG.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        margin-bottom: 0;
}

.Main {
    display: flex;
    padding: 2vw;
    margin-top: -2%;
}

.header {
    font-size: 2rem;
    padding: 0px;
    background-color: transparent;
}

.Cards {
    display: flex;
    margin-top: -5vh;
    flex-wrap: wrap ;
    padding: 0px;
}



.card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    /* padding: 1rem; */
    /* Adjust as needed */
}

/* Add padding to cards */
.Card {
    padding: 2em;
    justify-content: space-between;
    /* Adjust as needed */
}

/* Add padding to the sidebar */
.Sidebar {
    padding-right: 1em;
    /* Adjust as needed */
}

.view{
    margin-top: -3%;
    font-size: large;
    margin-left: 80%;
    margin-bottom: 3% ;
}