
  .boddy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0d2445;
    margin: 7%;
    margin-top: 2%;
    border-radius: 10px;
  }
  
  .column1 {
    width:30%;
    position: relative;
    right: 120px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .icon {
    width: 100%;
    margin-bottom: -70px;
    z-index: 1;
    padding-bottom: 20px;
  }
  


  .column1-text ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    color: #0d2445;
    background-color: #d2e5f3;
    border-radius: 4px;
    font-size: 20px;
    list-style-type: none; /* Remove default bullet points */
    margin-bottom: 20px;
  }
  
  .column1-text li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1px;
    margin-top: 50px;
    cursor: pointer;

  }
  
  .column1-text li:before {
      
    content: ">"; /* Set custom bullet point */
    /* margin-right: 5px; */
  }
  
  .column1-text li:hover {
    background-color: #0d2445; /* Change background color on hover */
    color: #d2e5f3; /* Change font color on hover */
  }
  
  .logout:before {
    content: "<"; /* Set custom bullet point for logout option */
    margin-right: 5px;
    background-color: #d2e5f3; /* Set background color for logout bullet point */
  }
  
  .column2 {

    width: 70%;
  margin-top: 13px;
    align-items: center;
    background-color: #0d2445;
  }
  .coll {
    background: linear-gradient(
      180deg,
      rgba(22, 37, 61, 0) 0%,
      rgba(0, 0, 0, 0.23) 100%
    );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
  }
  .firstline {
    /* margin: 0px; */
    width: 70%;
    display: flex;
    align-items: center;
  }
  .details {
    /* Mitkumar R */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    color: #75b7e5;
  }
  
  .ver {
    background-color: rgba(208, 227, 242, 0.23);
  
    border-radius: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 11px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .year {
    /* 2nd Year */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #75b7e5;
  }
  
  .secondline {
    /* U22CS070 */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 52px;
    color: #d0e3f2;
    margin-bottom: 45px;
  }
  
  .thirdline {
    display: flex;
    margin: 0px;
    margin-bottom: 40px;
  }
  
  .bd {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #75b7e5;
  }
  .bd > :first-child {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: #d2e5f3;
  }
  .deg {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #75b7e5;
    margin-left: 38%;
  }
  
  .deg > :first-child {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: #d2e5f3;
  }
  
  .fourthline {
    display: flex;
    margin: 0px;
    
   margin-bottom: 30px;
  }
  
  
  
  .email {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #75b7e5;
  }

  .email > :first-child {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: #d2e5f3;
  }
  
  .dep {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #75b7e5;
    margin-left: 26%;
  }
  .dep > :first-child {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: #d2e5f3;
  }
  
  .fifthline {
    display: flex;

    padding-top: 0px;
  }
  
  .pem {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #75b7e5;
  }
  .pem > :first-child {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: #d2e5f3;
  }
  