.sidebar1 {
    width: 20vw;
    /* Example: 20% of the viewport width */
    height: 100vh;
    /* 100% of the viewport height */
    background-color: #16253D;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.profile-info {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #223752;
    /* Added background color */
}

.profile-img {
    width: 40%;
    /* Example: 40% of the parent container's width */
    height: auto;
    border-radius: 50%;
    margin-right: 0px;
}

.role,
.name {
    margin-bottom: 10px;
}

.options {
    margin-top: 20px;
}

.option {
    font-size:larger ;
    padding: 20px;
}

.option {
    color: #fff;
    text-decoration: none;
}

/* Change color of option div on hover */
.option:hover {
    background-color: #fff;
        color: black;
            cursor: pointer;
    /* Change to desired hover color */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .sidebar {
        width: 30vw;
        /* Adjusted width for smaller viewports */
        padding: 10px;
        /* Adjusted padding for smaller viewports */
    }

    .profile-img {
        width: 50%;
        /* Adjusted width for smaller viewports */
    }
}