.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 30%;
    width: 100%;
    background: linear-gradient(to right, #36D1DC, #5B86E5);
    animation: fadeInUp 0.5s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.box1, .box2 {
    display: flex;
    flex-direction: column;
    background-color: inherit; /* Inherit background color from parent */
}

.box1 {
    width: 30%;
    height: 100%;
    background-color: inherit; /* Override specific background color */

    /* Directly set image background to transparent within .box1 */
    img {
        background-color: transparent !important;
    }
}

.box1 .te {
    margin-left: 10px;
    color: #fff;
    background-color: transparent; /* Set background to transparent */
}

.box2 {
    display: flex;
    flex-direction: column; 
    background-color: inherit; /* Override specific background color */
}

.box2 .li span {
    font-weight: bold;
    background-color: transparent; /* Set background to transparent */
}

.box2 .l1 {
    display: flex;
    flex-direction: column;
    background-color: transparent; /* Set background to transparent */
}

ul {
    list-style: none;
    padding: 0;
    background-color: transparent; /* Set background to transparent */
}

li {
    margin-bottom: 8px;
    background-color: transparent; /* Set background to transparent */
}

.li {
    margin-bottom: 12px;
    font-size: 1.2rem;
    color: #fff;
    background-color: transparent; /* Set background to transparent */
}

.l1 {
    font-size: 1rem;
    color: #ddd;
    background-color: transparent; /* Set background to transparent */
}
