.sidebar {
    height: 65vh;
    /* Adjust the height relative to the viewport height */
    width: 100%;
    /* Adjust the width relative to the viewport width */
    max-width: 300px;
    /* Set a maximum width if needed */
    background-color: #9ed8ff;
    overflow: auto;
    z-index: 100;
    position: sticky;
    top: 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: fadeside 0.7s ease-out;
}

#list {
    font-size: 2vw;
    /* Adjust font size relative to the viewport width */
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: -0.6vh;
    /* Adjust margin relative to the viewport height */
    line-height: 1.5;
    text-align: left;
}

li:before {
    content: "\00BB";
    font-size: 2.6vw;
    /* Adjust font size relative to the viewport width */
    margin-right: 1vw;
    margin-left: 1vw;
    /* Adjust margin relative to the viewport width */
}

li:hover {
    background-color: #FEFEFF;
    cursor: pointer;
}

span {
    position: relative;
    left: 1vw;
    /* Adjust left position relative to the viewport width */
}